matplotlib==3.6.1
pandas==1.5.0
qdrant-client==0.10.3
quaterion==0.1.31
quaterion-models==0.1.17
regex==2022.9.13
scipy==1.9.2
scikit-learn==1.1.2
numpy==1.23.4
pyarrow==9.0.0
pycountry==22.3.5
transliterate==1.10.2
sentence-transformers==2.2.2